.setup-index {
  .at-list {
    box-shadow: 0 12rpx 24rpx rgba(96, 146, 229, 0.2);
    margin: 24px 0;
    border-radius: 12px;
  }

  .setup-index-list-title {
    font-weight: 600;
  }

  .setup-index-list-item {
    padding: 24rpx 48rpx;

  }
  .at-list__item .item-content__info-title{
      line-height: 2 !important;
  }
}
