.index {
  flex-direction: column;
  width: 100%;

  .logo{
    border-radius:36px;
    width:144px;
    height:144px;
    margin: 0 auto;
    box-shadow: 0 12px 24px rgba(96,146,229,0.2);
  }

  .log_ip,.log_port{
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;
  }
  
  .log_conn{
    width: 80%;
    margin: 8% 10%;
  }

  .log_que{
    font-size: small;
    color: #46aff1;
    position:absolute;
    bottom: 128px;
    left: 43%;
  }

}