.loginPage{
    width: 100%;
}
.ip{
    height: 80px;
    margin-top: 10vh;
    border:solid #CCCCCC 1px;
    width: 60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.submit{
    margin-top: 5vh;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}