.monitor-index{
    margin-top: 10vh;

    .at-list{
        margin-top: 3vh;
    }

    .at-list__item{
        padding: 24px 48px !important;
        line-height: 2 !important;
      }

      .title_top{
        font-weight: 600;
        margin-left: 6vw;    
      }
}