.teach-index{
    margin-top: 14vh;
    margin-left: 5vw;
    width: 90%;

    .teach-index-button{
        margin-bottom: 5vh;
    }

    // .teach-circle{
    //     width:300px;
    //     height:300px;
    //     border-radius: 150px;
    //     background:#dddddd;
    //     margin:0 auto;
    //     margin-bottom: 50px;
    // }

    
}


.back1{
    width: 45vw;
    font-size: 34px;
    background:url(https://forinexbotweb.oss-cn-shanghai.aliyuncs.com/uploads/202007/back.png) no-repeat;
    -webkit-background: url(https://forinexbotweb.oss-cn-shanghai.aliyuncs.com/uploads/202007/back.png) no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    padding-left: 60px;
    margin: 20px 10px 0 0;
    border:1px solid #3b8bff;
}

.back2{
    width: 45vw;
    font-size: 34px;
    background:url(https://forinexbotweb.oss-cn-shanghai.aliyuncs.com/uploads/202007/playback.png) no-repeat;
    -webkit-background: url(https://forinexbotweb.oss-cn-shanghai.aliyuncs.com/uploads/202007/playback.png) no-repeat;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    padding-left: 60px;
    margin: 20px 0 0 10px;
    border:1px solid #3b8bff;
}