.status {
  width: 90%;
  margin-left: 5%;
  height: 16vh;
  display: flex;
  flex-flow: row;
  font-size: small;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(96,146,229,0.2);
  line-height: 16vh;
}
.status-con {
  display: flex;
  flex-flow: row;
  margin-left: auto;
  margin-right: auto;
}
.circle-status {
    width: 25px;
    height: 25px;
    border-radius: 10000px;
    border: solid;
    border-color: black;
    border-width: 1px;
}