.status {
    width: 100%;
  display: flex;
  flex-flow: row;
}
.status-con {
  display: flex;
  flex-flow: row;
  margin-left: auto;
  margin-right: auto;
}
.circle-status {
    width: 25px;
    height: 25px;
    border-radius: 10000px;
    border: solid;
    border-color: black;
    border-width: 1px;
}