.teach {
  .title-top {
    font-weight: 600;
    margin-left: 6vw;
    position: relative;
    top: 10vh;
  }
  .teach-index1 {
    margin-top: 14vh;
    margin-left: 5vw;
    height: 25vh;
    width: 42vw;
    background-color: #dfdfd0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .teach-index2 {
    margin-top: 14vh;
    margin-left: 6vw;
    width: 42vw;
    float: left;
    background-color: #dfdfd0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .teach-index-button {
    margin-top: 5vh;
    border: none;
    background-color: rgba(0,0,0,0);
  }
}
