.title_top1{
    font-size:40px;
    font-weight: 600;
    margin-left: 6vw;
    margin-top:10vh;
    position: relative;
    top: 10vh;
}
.setup-index {
  margin-top: 12vh;

//safe界面样式
  .title_top {
    font-weight: 600;
    margin-left: 4vw;
    font-size: 32px;
  }

  .setup-safe {
    box-shadow: 0 12rpx 24rpx rgba(96, 146, 229, 0.2);
    margin: 24px 0;
    border-radius: 12px;
    padding: 3vh 2vw;
    margin: 3vh 3vw;
    border: 0px;
  }

  .setup-index-list-item {
    padding: 24rpx 48rpx;
  }

  //connect界面样式
  .at-list__item{
      margin-left: 24px;
  }

  .reconnect{
    background: #fff;
    color: #ff463d;
    border: 1px solid #ff463d;
    width: 80%;
    margin-left: 10%;
    margin-top: 8%;
  }


}
