.instructs {
    background-color: #fff;
    padding: 30px;
    
    .intructs-group-tit{
        line-height: 2;
    }
    
    .intructs-group-btn{
        display: flex;
        flex-flow: row; 
        justify-content:center;
    }

    .instructs-group-ok{
        margin: 20px 0;
        background: #55d676;
        color: white;
        border: 1px solid #39b659;
    }

    .at-input input{
        border: 1px solid #ddd;
        padding: 10px 20px;
    }


}