.program-index{
    margin-top: 10vh;

    .instructs{
        background-color: #fff;

        .instructs-group{
            margin: 20px;
               

            .intructs-group-btn{
                display: flex;
                flex-flow: row; 
            }

            // .small{
            //     padding: 10px 30px;
            //     border: #333333;
            //     width: 40vw;
            // }

            .at-button--small {
                width: 36vw;
                margin: 0 10px 10px 0;
                height: none;
            }
        }
    }
}