.program{
    .at-curtain__container{
        height: 95%;
    }
}

.program-index{
    margin-top: 10vh;

    .instructs{
        background-color: #fff;
        padding-bottom: 10px;

        .instructs-group{
            padding: 20px 20px 0 20px;

            .intructs-group-tit{
                line-height: 2;
            }
            
            .intructs-group-btn{
                display: flex;
                flex-flow: row; 
                justify-content:center;
            }

            // .small{
            //     padding: 10px 30px;
            //     border: #333333;
            //     width: 40vw;
            // }

            .at-button--small {
                width: 36vw;
                margin: 0 10px 10px 0;
                height: 0;
                line-height: 6vh;
                height: 6vh;
            }
        }
    }
}

.programMenu{
    position: absolute;
    bottom: 7vh;
    left: 77vw;

    .at-fab{
        margin-bottom: 24px;
    }
}
